/* FreshBrews
--------------------------------- */

img {
  max-width: 100%;
}

.FreshBrews-nav {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

.FreshBrews-nav li {
  margin: 0 10px;
  display: inline;
}

.FreshBrews-nav li button {
  border: none;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #222;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.FreshBrews-nav li button:hover {
  cursor: pointer;
  background: #7cc576;
  color: #fff;
  text-decoration: none;
}

.FreshBrews-nav li button.active {
  background-color: #7cc576;
  color: #fff;
}

.freshBrewsContainer {
  margin: 0 auto;
  padding-left: 15px;
}

.FreshBrews-box {
  border: 1px solid #ddd;
  box-shadow: 0 3px 0 #ddd;
  text-align: center;
  margin: 0 10px 30px 0;
  height: 350px;
  width: 350px;
  overflow: hidden;
  float: left;
  padding: 0;
}

.FreshBrews-box img {
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.FreshBrews-box img:hover {
  opacity: 0.6;
}

.FreshBrews-nav li a.current {
  background: #7cc576;
  color: #fff;
  text-decoration: none;
}
