/* Float Elements
--------------------------------- */

.fl-lt {
  float: left;
}

.fl-rt {
  float: right;
}

/* Clear Floated Elements
--------------------------------- */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix::before,
.clearfix::after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix::after {
  clear: both;
}

.figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active {
  outline: 0 !important;
}

/* Navigation
--------------------------------- */

.main-nav-outer {
  padding: 0;
  top: 0;
  position: relative;
  background: #722724;
}

.main-nav {
  text-align: center;
  padding: 0;
  list-style: none;
  margin-left: -100px;
}

.main-nav li {
  display: inline;
  margin: 0 1px;
}

.start-button li a {
  color: #fff;
}

.main-nav li a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 20px;
  margin: 17px 32px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.main-nav li a:hover {
  text-decoration: none;
  color: #7cc576;
}

.small-logo {
  width: 120px;
  padding: 0 0;
}

.small-logo img {
  width: 220px;
}

.main-section {
  background: #fff;
  padding: 90px 0 110px;
}

/* Header Styles
--------------------------------- */

.header {
  text-align: center;
  background-color: #722724;
  padding: 150px 0;
}

.logo {
  width: 350px;
  margin: 0 auto 35px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0 0 22px 0;
  color: #fff;
}

.we-create {
  padding: 0;
  margin: 35px 0 55px;
}

.wp-pic {
  margin-bottom: 20px;
}

.we-create li {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #bcbcbc;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 5px 0 0;
  padding: 0 0 0 15px;
}

.we-create li:first-child {
  background: none;
}

.start-button {
  padding-left: 0;
}

.link {
  padding: 15px 35px;
  background: #ae7558;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.link:hover {
  text-decoration: none;
  color: #7cc576 !important;
  background: #fff;
}

.link:active,
.link:focus {
  background: #7cc576;
  text-decoration: none;
  color: #fff !important;
}
