body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 34px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}
